#app {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centre {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  margin: 4px;
  padding: 0;
  text-align: center;
}

#header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

