.radio-group{
  display: block;
  width: 100%;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  width: 60px;
  text-align: center;
  border: 1px solid hsl(120, 100%, 50%);
  margin: 2px;
}

.radio-group input[type="radio"]:checked + label {
  background-color: hsl(120, 100%, 50%);
}
